*.DS_Store

PaymentApp/**/*.iml
PaymentApp/.externalNativeBuild
PaymentApp/.gradle
PaymentApp/.idea/libraries
PaymentApp/.idea/workspace.xml

PaymentApp/build
PaymentApp/captures
PaymentApp/local.properties
